
<!-- templates/home.html -->
<!-- templates/base.html -->

<!DOCTYPE html>
<html>
<head>
  
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/base.css">
  <link rel="shortcut icon" type="image/png" href="/static/favicon.ico"/>
  
  <meta charset="utf-8">

  <title>Home</title>
  
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
crossorigin=""></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.6.0/proj4.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4leaflet/1.0.2/proj4leaflet.min.js"></script>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>

<link rel="stylesheet" href="/static/css/home.css">

</head>
<body>

  <div class="row">
    <div id="mapCol" class="column"></div>
    <div id="infoCol" class="column">
      
      <div id="infoPanel">
      <p>Logged in as <b>ttmkr</b></p>
      <a href="/accounts/logout/">logout</a>
      </div>
      <h1>Tampere dog parks</h1>
      <br>
      <select id="views">
        <option value="info">Info</option>
        <option value="table">Table</option>
        <option value="bubble">Bubble chart</option>
        <option value="column">Column chart</option>
      </select>
      <div id="view"></div>
      <br>
      <p class="info" align="left">Here are the dog parks of Tampere!<br> <br> In the table view you can mark the ones you like with the checkbox, and by clicking the name of the area in the table, the map will automatically focus to that park.<br><br>In the bubble chart -view, you can see the park according to their districts, and view their areas. <br> Data is from <a href="https://data.tampere.fi/data/fi/dataset/ba68a4f0-1843-432d-955b-15173262627f" target="_blank">here</a>.</p>
      <table id="parkTable" class="view"></table>
      <div id="bubbleChart" class="view"></div>
      <div id="colChart" class="view"></div>

      </div>
    </div>
  <script src="/static/js/map.js"></script>

 

</body>
</html>