.row {
    column-count: 2;
    position: relative;
    display: flex;
}

.map {
    width: 50vw;
}

.column {
    height: 100vh;
    width: 50vw;
    /* margin: 10px; */
    padding: 5px;
}

#infoCol {
    align-items: center;
    align-content: center;
    text-align: center;
}

.chart {
    height: 70vh;
    width: 100%;
}

#park_table th, td{
    padding: 8px;
    text-align: center;
}

#park_table td:hover {
    color: whitesmoke;
}

.info {
    text-align: center;
}

.view {
    display: none;
}

select {
    background-color: rgb(25, 25, 25);
    color: teal;
}

option:not(:checked) {
    color: whitesmoke;
}